:root {
  --cor-primaria: #e0bb98;
  --cor-secundaria: #502525;
  --cor-terciaria: #b3b3b3; 
  --cor-borda: #e7e7e7;
  --cor-sombra:#220404;
  --cor-texto-primario: #d1d1d1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
