.DropdownButton{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-primario);
    width: 200px;
    height: 45px;
    border: none;
    outline: none;
    font-size: 23px;
    font-weight: bold;
    margin-top: 5px;
}
.DropdownIcon{
    right: 0;
}
.DropdownItemImage{
    width: 20px;
    padding-right: 5px;
}
.DropdownItens {
    color: var(--cor-texto-primario);
    position: absolute;
    list-style-type: none;
    list-style: none;
    margin-top: 8px;
}

.DropdownItem{
    background-color: var(--cor-secundaria);
    padding-top: 5px;
    padding-bottom: 5px;
}

.DropdownItem:hover{
    background-color: var(--cor-terciaria);
    color: var(--cor-texto-secundario);
}