#Home-Content {
  margin-top: 80px;
  position: relative;
  padding-top: 40px;
  background-color: var(--cor-primaria);
  padding-bottom: 50px;
  filter: drop-shadow(0 7px 6px var(--cor-sombra));
}

#Welcome {
  margin-bottom: 30px;
}

#Welcome h2 {
  font-size: 4rem;
}

#Donizetti {
  font-size: 1.8em;
  color: var(--cor-secundaria);
  background: none;
}

#office p {
  color: var(--cor-texto-secundario);
  font-weight: bold;
  font-size: 1.4rem;
  opacity: 0.5;
}

#introduction p {
  font-style: oblique;
  font-weight: bold;
  padding-top: 20px;
  font-size: 1.4rem;
  color: var(--cor-texto-secundario);
}

#Perfil-Photo img {
  height: 70%;
  width: 70%;
  min-height: 300px;
  min-width: 300px;
  margin-bottom: 90px;
  filter: drop-shadow(0 6px 15px var(--cor-sombra));
  transition: transform 0.3s ease;
}

#Perfil-Photo img:hover {
  transform: translateY(-10px);
}
.Photo{
  position: relative;
  z-index: 2;
}

.recentProjects{
  background-color: var(--cor-secundaria);
}

.recentProjects h2{
  padding-top: 20px;
  font-size: 3rem;
  color: var(--cor-texto-primario);
}

.recentProjectList{
  padding-inline: 150px;
}

.moreProjectsButton{
  padding-inline: 150px;
}

.bestSkillsTitle{
  padding: 20px;
  color: var(--cor-detalhe);
  position: relative;
  font-size: 3rem;
}

.bestSkillsTitle::after{
  content:'';
  position:absolute;
  width:80px;
  height:2px;
  background: var(--cor-detalhe);
  bottom:0;
  left:0;
  right:0;
  top: 60px;
  margin:auto;
}

.bestSkillsItem{
  background-color: var(--cor-terciaria);
  border-radius: 25px;
  padding: 8px;
}

.bestSkillsItem p{
  font-size: 2.2rem;
  color: var(--cor-texto-secundario);
}