#Home-Content {
  margin-top: 80px;
  position: relative;
  padding-top: 40px;
  background-color: var(--cor-primaria);
  padding-bottom: 50px;
  filter: drop-shadow(0 7px 6px var(--cor-sombra));
}

#Welcome {
  margin-bottom: 30px;
}

#Welcome h2 {
  font-size: 4rem;
}

#Donizetti {
  font-size: 1.8em;
  color: var(--cor-secundaria);
  background: none;
}

#office p {
  color: var(--cor-texto-secundario);
  font-weight: bold;
  font-size: 1.4rem;
  opacity: 0.5;
}

#introduction p {
  font-style: oblique;
  font-weight: bold;
  padding-top: 20px;
  font-size: 1.4rem;
  color: var(--cor-texto-secundario);
}

#Perfil-Photo img {
  height: 70%;
  width: 70%;
  min-height: 300px;
  min-width: 300px;
  margin-bottom: 90px;
  filter: drop-shadow(0 6px 15px var(--cor-sombra));
  transition: transform 0.3s ease;
}

#Perfil-Photo img:hover {
  transform: translateY(-10px);
}