#Home-Content {
  margin-top: 80px;
  position: relative;
  z-index: 500;
  padding-top: 40px;
  background-color: #ffc895;
  padding-bottom: 50px;
  filter: drop-shadow(0 7px 6px #220404);
}
#Welcome {
  margin-bottom: 30px;
}
#Welcome h2 {
  font-size: 4rem;
}
#Donizetti {
  font-size: 1.8em;
  color: #3a0707;
  background: none;
}
#introduction {
  background-color: #3a0707;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-bottom: 20px;
  filter: drop-shadow(0 6px 12px #220404);
  border: 5px solid;
  border-color: #e7e7e7;
}
#introduction p {
  font-style: oblique;
  font-weight: bold;
  padding: 15px;
  font-size: 1.2rem;
  color: #e7e7e7;
  z-index: 1;
}

#Perfil-Photo img {
  min-width: 250px;
  min-height: 250px;
  height: 70%;
  width: 70%;
  background-color: #d2e1ed;
  margin-bottom: 90px;
  border: 5px solid;
  border-color: #e7e7e7;
  border-radius: 100% !important;
  filter: drop-shadow(0 6px 15px #220404);
  transition: transform 0.3s ease;
}

#Perfil-Photo img:hover {
  transform: translateY(-10px);
}

#Skills {
  width: 99%;
  margin: auto;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 20px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  background-color: #e7e7e7;
}

#SkillsBackground{
  background-color: #3a0707;
}

#SkillItem{
  text-align: center;
  position: relative;
  display: inline-block;
}