@import "~react-image-gallery/styles/css/image-gallery.css";

#Personal-Content{
    margin-top: 50px;
    padding-top: 40px;
    background-color: #348AA7;
    border-bottom: 20px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-bottom: 50px;
    box-shadow: inset 0 0px 50px rgb(43, 44, 43);
}
#Project{
    background-color: #01101d;
    border-top: 20px solid;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}
#Project p{
    font-style: oblique;
    font-weight: bold;
    padding: 30px;
    font-size: 1.2rem;
    color: #D2D0BA;
}
#Project h3 {
    font-size: 1.8em;
    font-weight: bold;
    color: #D2D0BA;
    text-align: center;
    padding-top: 20px;
    border-bottom: 2px solid;
}

#Project img{
    min-width: 150px;
    min-height: 150px;
    height: 80%;
    width: 80%;
}
#Gallery{
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
}
#Gallery img{
    height: 500px;
}
#Videos{
    padding: 60px;
}
