@import "~react-image-gallery/styles/css/image-gallery.css";

#PersonalContentBackground{
    background-color: #3a0707;
}

#Personal-Content{
    margin-top: 50px;
    padding-top: 40px;
    background-color: #ffc895;
    border-bottom: 20px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-bottom: 50px;
    box-shadow: inset 0 0px 50px #220404;
}
#Project{
    background-color: #3a0707;
    border-top: 10px solid;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-right: 5px solid;
    border-left: 5px solid;
    border-color: #e7e7e7;
    filter: drop-shadow(0 6px 12px #220404);
    padding-bottom: 30px;
    margin-bottom: 30px;
}
#Project p{
    font-style: oblique;
    font-weight: bold;
    padding: 30px;
    font-size: 1.2rem;
    color: #e7e7e7;
}
#Project h3 {
    font-size: 1.8em;
    font-weight: bold;
    color: #e7e7e7;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid;
}
#Project h4 {
    font-size: 1.4em;
    font-weight: bold;
    color: #e7e7e7;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid;
    width: 50%;
    margin: 0 auto;
}
#Project img{
    min-width: 150px;
    min-height: 150px;
    height: 80%;
    width: 80%;
    filter: drop-shadow(0 6px 12px #220404);
}
#botao {
    background-color: #200404;
    margin-bottom: 7px;
    width: 50%;
}
#Gallery{
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
}
#Gallery img{
    height: 500px;
}
#Videos{
    width: 90%;
    margin:0 auto;
}

#Models3D{
    height: 700px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 60px;
}