#pageTitle {
    padding: 20px;
    margin-bottom: 50px;
    color: var(--cor-detalhe);
    position: relative;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

#pageTitle::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    background: var(--cor-detalhe);
    bottom: 0;
    left: 0;
    right: 0;
    top: 70px;
    margin: auto;
}
