#ProjectLink{
    position: relative;
    z-index: 1;
    text-decoration: none;
}

#ProjectPreviewTitle{
    margin-bottom: 10px;
}

#ProjectPreviewBackground{
    padding-bottom: 50px;
    filter: drop-shadow(0 0 15px var(--cor-sombra));
    border-radius: 25px;
    height: 300px;
    min-width: 230px;
    overflow: hidden;
}

#ProjectPreviewBackground::before{
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    height: 300px;
    width: 240px;
    left: -200px;
    transform: skewX(-45deg);
}

#ProjectPreviewBackground:hover:before{
    animation: slide 1.5s;
}

#ProjectPreviewBackground h3{
    font-size: calc(25px + 0.6vw);
    padding-inline: 10px;
    height: 90px;
    font-weight: bold;
    margin-top: 20px;
}

#ProjectPreviewBackground p {
    margin-top: 25px;
    font-size: calc(15px + 0.6vw);
    padding: 20px;
}

#ProjectPreviewHover {
    position: fixed;
    z-index: 2;
    background-color: #e74c3c;
    color: #fff;
    border: 0;
    padding: 0;
    margin: 0;
}

#ProjectPreviewContent {
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    border: 0;
    padding: 0;
    margin: 0;
    width: 1200px;
    transform: scale(0.3);
    transform-origin: 0% 0% 0px;
}

@keyframes slide {
    0%,100%{
        left: -200px;
    }
    50%{
        left: 100%;
    }
}