#ProjectLink{
    position: relative;
    z-index: 1;
    text-decoration: none;
}

#ProjectPreviewTitle{
    margin-bottom: 10px;
}

#ProjectPreviewBackground{
    padding-bottom: 50px;
    filter: drop-shadow(0 7px 6px var(--cor-sombra));
    border-radius: 25px;
    height: 300px;
    min-width: 200px;
}

#ProjectPreviewBackground h3{
    font-size: calc(25px + 0.6vw);
    padding-inline: 10px;
    height: 90px;
    font-weight: bold;
    margin-top: 20px;
}

#ProjectPreviewBackground p {
    margin-top: 25px;
    font-size: calc(20px + 0.6vw);
    padding: 5px;
}

#ProjectPreviewHover {
    position: fixed;
    z-index: 2;
    background-color: #e74c3c;
    color: #fff;
    border: 0;
    padding: 0;
    margin: 0;
}

#ProjectPreviewContent {
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    border: 0;
    padding: 0;
    margin: 0;
    width: 1200px;
    transform: scale(0.3);
    transform-origin: 0% 0% 0px;
}