  #tooltip {
    text-align: center;
    position: relative;
  }

  #tooltiptext p {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: italic;
    font-weight: bold;
  }
  #tooltip #tooltiptext {
    position: absolute;
    visibility: hidden;
    width: 120px;
    height: 120px;

    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 6px 15px #220404);
    background-color: black;
    color: #e7e7e7;
    text-align: center;
    border-radius: 100%;
    opacity: 0.8;
    font-size: 0.7rem;
    word-wrap: break-word;
    
    padding: 10px;
    z-index: 1;
}
#tooltip:hover #tooltiptext {
    visibility: visible;
}
#tooltip:hover {
    z-index: 9999;
    filter: drop-shadow(0 6px 15px #220404);
  }